################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WindowsGUIApplications/v15
/HelloWorldApp/Debug/HelloWorldApp.tlog
/HelloWorldApp/Debug
